# SPDX-FileCopyrightText: 2023 Sidings Media
# SPDX-License-Identifier: CC0-1.0

# Only include the following files

**/*

!static/
!conf/
!openapi.yaml
!package.json
!package-lock.json

# It is a git submodule so we only want the logos
static/logo/*.svg
static/logo/*.md
static/logo/DCO_V1.1*
