# SPDX-FileCopyrightText: 2023 Sidings Media
# SPDX-License-Identifier: CC0-1.0

# Only include the following files

**/*

!static/
!conf/
!openapi.yaml
!package.json
!package-lock.json
static/logo/*
!static/logo/rendered/*
